*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body{
/*ori:#081b29 	*/
	background: #081b29c7;
}

footer{
	background-color:grey;
	position: fixed;
	margin-top: 2%;
	height: 15%;
	width:100%;
	text-align: center;
	font-size:1em;
	bottom: 0;
}
	
.footer-container a{
/*	display: flex;*/
	margin: 0 15px;
	padding: 20px 0px;
    color: white;
    text-decoration: none;
    justify-content: space-between;
/*    margin-left: 35px;*/
}

.footer-rights{
	padding:10px 0;
	color: white;
}

.brand{
	position: fixed;
	width: 100%;
	padding: 20px 10%;
/*ori background: aquamarine	*/
	background: #00bcd4b3;
	backdrop-filter: blur(10px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
}
.logo{
	font-size: 25px;
	color: white;
	font-weight: : 600;
	text-decoration: none;

}

.navibar a {
	overflow:hidden;
	background-color: none;
	font-size: 18px;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	color: white;
}

.navibar a:hover{
   color: dimgray;
}

.Contact{
	padding: 10px 28px;
	color: black;
/*background-color: lightblue	*/
	background-color: white;
	border: 2px solid transparent;
	border-radius: 8px;
	letter-spacing: 1px;
	font-weight: 600;
	transition: 0.3s ease;
}
.Contact:hover{
	background-color: lightblue;
/*	box-shadow: 0 0 25px orange;*/
	color: black;
}
.clear{ clear: both; }
/*
footer{
	background-color:white;
}

.first-footer{
display: flex;
}*/