*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body{
/*ori:#081b29 	*/
	background: #081b29c7;
}

footer{
	background-color:#00bcd4b3;
	position: fixed;
	margin-top: 2%;
	height: 15%;
	width:100%;
	text-align: center;
	font-size:1em;
	bottom: 0;
	padding: 20px 0px;
}
	
.footer-container a{
/*	display: flex;*/
	margin: 0 15px;
	padding: 20px 0px;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 35px;

 
}

.footer-rights{
	padding:10px 0;
	color: white;
}

.brand{
	position: fixed;
	width: 100%;
	padding: 20px 10%;
/*ori background: aquamarine	*/
	background: #00bcd4b3;
	backdrop-filter: blur(10px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	top: 0;
}
.logo{
	font-size: 25px;
	color: white;
	font-weight: : 600;
	text-decoration: none;

}

.navibar a {
	overflow:hidden;
	background-color: none;
	font-size: 18px;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	color: white;
}

.navibar a:hover{
   color: dimgray;
}

.Contact{
	padding: 10px 28px;
	color: black;
/*background-color: lightblue	*/
	background-color: white;
	border: 2px solid transparent;
	border-radius: 8px;
	letter-spacing: 1px;
	font-weight: 600;
	transition: 0.3s ease;
}
.Contact:hover{
	background-color: lightblue;
/*	box-shadow: 0 0 25px orange;*/
	color: black;
}
.clear{ clear: both; }

.home{
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	gap: 7em;
	padding: 300px 200px 0;
}
.home-content{
	width: 600px;
	margin: 80px 0;
}
.home-content h1{
	font-size: 30px;
}
.home-content p{
	font-size: 20px;
	margin: 25px 0 30px;
	color: lightblue ;
}
.clear{ clear: both; }
.home-image{
/*	width: 30px;
	height: 1px;*/
}
-----------------------------------------------------
/*..................For contact page*/


/*.contactUs{
	position: relative;
	width: 100%;
	padding: 100px 50px;
	margin-top: 150px;
}*/
.contactUs  .title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}
.contactUs .title h2{
	color: white;
	font-weight: 500;

}
.form{
	grid-area: form;
/*	padding: 50px;*/
}
.info{
	grid-area: info;
}
.map{
	grid-area: map;
}
.contact{
	padding: 40px;
	background: #00bcd4b3 ;
}
.box{
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
/*	grid-template-rows: 5fr 4fr;*/
	grid-template-areas: 
	"form info";
/*	grid-gap: 20px;*/
/*	margin-top: 150px;*/
/*	background-color: white;*/
    padding: 0px 50px;

}
.Contact h3{
	color:blue;
	font-weight: 500;
	font-size: 1.4em;
	margin-bottom: 10px;
}
.content{
	padding: 20px 10px;
	background: #00BCD4;
	text-align: none;
}
.contactUs{
	position: relative;
	width: 100%;
	padding: 100px 50px;
	margin-top: 0px;
}
.contactUs  .title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}
.content form{
	text-align: left;
}

/* form */
.formBox{
	position: relative;
	width: 100%;
	background: aquamarine;
}
.formBox .row50{
	display: flex;
	gap: 20px;
}
.inputBox{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 80%;
}
.formBox .row100 .inputBox{
	width: 100%;
}
.inputBox span{
	color: black;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 500;
}
.inputBox input{
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid black;
}
.inputBox textarea{
	padding: 10px;
	font-size: 1.1em;
	outline: none;
/*	border: 1px solid black;*/
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"]
{
	background: white;
	color: black;
	font-size: 1.1em;
	max-width: 120px;
	font-weight: 500;
/*	cursor: pointer;*/
	padding: 14px 15px;
}
.info h3{
	color:yellow;
}
.info .infoBox div{
	display: flex;
/*	align-items: center;*/
	margin-bottom: 10px;
}
.inputBox input[type="submit"]:hover{
	background-color: lightblue;
	color: white;
}
/*.info .infoBox div span{
	min-width:40px;
	height:40px;
	color:white;
	background: lightblue;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	border-radius: 50%;
    margin-right: 50px;
} */
-----------------------------------------------------------
/*For Project Page 
/*.card-box{
	width:85%;
	margin: 50px auto;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:25px;
}
/*.cards{
	background-color: #fff;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}*/
/*.cards{
	background-color: #fff;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}*/
.imagec-one{
	height: 225px;
/*	background-color: lightblue;*/
}

.cards .imagec-one{
/*	background-image: url('image card-one.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.cards .imagec-two{
/*	background-image: url('image card-two.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.cards .imagec-three{
/*	background-image: url('image card-three.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.card-box{
	width:85%;
	margin: 50px auto;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap:25px;
	margin-top: 150px;

}
.cards{
	background-color: #fff;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.content{
	padding:20px 10px;
	text-align: center;
}
.content h2{
	letter-spacing: 1.5px;
}
.content h3{
	margin-top: 5px;
}
.content p{
	margin: 15px 0px;
	font-size: 15px;
}
.content a{
	text-decoration: none;
	font-size: 17px;
	color: #fff;
	letter-spacing: 1.5px;
	display: inline-block;
	background-color: lightblue;
	padding: 8px 15px;
}
.content a:hover{
	background-color: dimgray;
	color: white;
	transition: 1s ease;
}

